<?xml version="1.0" encoding="UTF-8"?>
<configuration status="debug" monitorInterval="30">
    <properties>
        <property name="BBS_HOME">D:\home\admin\bbs_log</property>
        <property name="BBS_BACKUP_HOME">D:\home\admin\bbs_log\backup</property>
    </properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n"/>
        </Console>
        <RollingRandomAccessFile name="Operate" append="true" fileName="${BBS_HOME}/operate.log"
                                 filePattern="${BBS_BACKUP_HOME}/operate.%d{yyyyMMdd-HHmmss}.log.gz">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${BBS_BACKUP_HOME}" maxDepth="1">
                    <IfFileName glob="*operate*.log.gz">
                        <IfAny>
                            <IfLastModified age="20d"/>
                            <IfAccumulatedFileSize exceeds="20 GB"/>
                        </IfAny>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </appenders>
    <loggers>
        <!--<root level="warn" includeLocation="true">-->
        <!--<appender-ref ref="Console"/>-->
        <!--</root>-->
        <logger name="OperateLog" level="debug" additivity="false">
            <!--<appender-ref ref="Console"/>-->
            <appender-ref ref="Operate"/>
        </logger>
    </loggers>
</configuration>
